.header {
    width: 100%;
    display: flex;
    padding: 0.75rem;
    background:#f5ba13;
    justify-content: center;
    font-family: 'Texturina', serif;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}